* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url(images/hihi.jpg) ;
    background-size: cover;
}
.container1{
    width: 100%;
    margin-left: auto;
    margin-right: auto;

}
header {
    width: 1260px;
    height: 250px;
    background-image: url("images/br.png");
}
.aa a{
    color:white ;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    background-color: rgb(32, 50, 53);
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    float: right;
    margin-top: -25px;
}
header .box {
    width: 300px;
    height: 300px;

    position: absolute;
    top: 0px;
    left: 100px;
}

header .box>img {
    width: 100%;
    height: 100%;
}

header .box1 {
    width: 300px;
    height: 100px;
    margin-left: 500px;
}

header .box1>img {
    width: 500px;
    float: left;
    margin-left: -100px;

}

header .ten img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: 100px;
    float: right;

}

header img {
    width: 30px;
    margin-top: 5px;

}

header .timkiem {
    line-height: 70px;
    float: right;
    margin-top: 30px;
    font-size: 80px;
}

nav {
    width: 1260px;
    padding-top: 10px;
    height: 25px;
    background-color: rgb(0, 0, 0);
}

hr {
    clear: both;
}
.menu li a{
    color: rgb(255, 244, 244);
}
.menu {
    border: 1px #fff;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
}

.menu li {
    display: inline;
    margin: auto;
    padding-left: 70px;
    position: relative;
}

.menu a {
    display: inline-block;
    text-decoration: none;
    padding-bottom: 7px;
    margin-top: auto;
}

.menu>a:hover {
    text-decoration: underline;
    color: rgb(190, 14, 14);

}

.menu>li:hover .smenu {
    display: block;
}

.menu>li>a:hover {
    color: #000;
    background-color: rgb(62, 49, 63);
}

.smenu {
    list-style: none;
    position: absolute;
    top: 20px;
    left: 30px;
    display: block;
    display: none;
}
.smenu li a{
    color: rgb(29, 26, 26);
}

.smenu>li {
    display: inline-block;
    background-color: rgb(212, 212, 212);
    border-bottom: 0px 0px rgb(202, 34, 34);
    padding-left: 0px;
    width: 130px;
}

.smenu>li:hover a {
    color: rgb(34, 86, 228);
}

h3 {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

del {
    color: rgb(255, 255, 255);
    font-size: 20px;
}
article{
    width: 1260px;
}
article>.box2 >a{
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    background-color:rgb(119, 230, 119);
    box-shadow: 0px 0px 5px rgb(196, 52, 52);
}
article>.box >a{
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 10px;
    background-color:rgb(119, 230, 119);
    box-shadow: 0px 0px 5px rgb(196, 52, 52);
}
article>.box {
    width: 200px;
    height: 400px;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: -5px;
}

article>.box3>img {
    width: 200px;
    text-align: center;
    float: left;
    margin-left: 50px;
    margin-top: -50px;

}

article>.box>img {
    width: 200px;
    height: 250px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

article>.box>h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

article>.box2>h1 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

article>.box2 img {
    width: 200px;
    height: 250px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    float: left;
}

article>.box2 {
    width: 200px;
    height: 400px;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: -30px;
}

hr {
    clear: both;
}
footer {
    width: 1260px;
    color:#fff;
}
footer .footer {
    float: left;
    width: 30%;
}

footer .container {
    width: 30%;
    float: right;
}

footer .lienhe {
    width: 25%;
    float: right
}

footer .lienhe h2 {
    margin-left: -130px;
}

footer .anh {
    float: left;
    margin-left: -390px;
}

footer img {
    width: 200px;
    margin-left: 350px;
}

footer .the>img {
    width: 30px;
    height: auto;
    float: left;
    margin-left: 5px;
}
hr{
    border-color: rgb(9, 102, 9);
}